body {
	@include font-size(16px);
	font-family: $body-font;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	&:hover,
	&:focus,
	&:active {
	}
}

ul, 
li {
	margin: 0;
}

.title {
	@include rem(margin, 30px 0);
	@include rem(line-height, 28px);
	&:first-child {
		margin-top: 0;
	}
}