extends layout
- load wagtailcore_tags wagtailimages_tags

block content
	.page-header
		a.logo.wd42(href="#")
			span.name WD
			span.name-long Web Developer
			span.organisation 42&deg;
		.tagline The meetup at the end of the universe...

	.details-upcoming
		.wrap.u-hascol
			.countdown.u-col-3
				if current_event.start_datetime
					.countdown--progress(data-startdatetime="{{ current_event.start_datetime|date:'m/d/Y H:i:s' }}")
					.countdown--message Until the next #wd42

			.nextevent.u-col-3
				if current_event.title
					.nextevent--title {{ current_event.title }}
				else
					.nextevent--title Next #wd42 TBA
				.nextevent--date {{ current_event.start_datetime|date:"g:iA"|lower }} {{ current_event.start_datetime|date:"l jS" }}
				.nextevent--action
					if current_event.signup_link
						a(href="{{ current_event.signup_link }}").nextevent--register.btn Register Now
					a(href="http://www.google.com/calendar/ical/joshgilli.es_ets7187s9vds2f1j4vsiljtf4k%40group.calendar.google.com/public/basic.ics").nextevent--ical Get a reminder (iCal)

			.line-up.u-col-3
				ul
					if current_event.schedule
						for speaker in current_event.schedule.all
							li {{speaker.time|date:"g:iA"|lower }}: {{speaker.title}} {{speaker.speaker}}


	.details-general
		.wrap.u-hascol
			.location.u-col-3
				h2.title Find Us
				.map-contain
					a.map-control.icon-forward(href="https://goo.gl/maps/q5Lh4")
						.visuallyhidden Open in Google maps
					#map

			.about.u-col-3
				h2.title {{ self.title }}
				|{{ self.body|richtext }}

			.other.u-col-3
				h2.title Get in touch
				.btn-group
					a.btn(href="{{ self.twitter }}") Twitter
					a.btn(href="{{ self.facebook }}") Facebook
					a.btn(href="mailto:{{ self.email }}") Email
					a.btn(href="{{ self.github }}") Github

				h2.title With thanks to...
				for sponsor in self.sponsors.all
					a(href="{{ sponsor.link }}").sponsor
						| {% image sponsor.logo width-200 %}
